<section class="qaplast-access py-[60px]">
    <div class="max-w-[1170px] mx-auto flex justify-between items-center">
        
        <div class="max-w-[440px]">
            <h6 class="text-[30px]/[36px] font-bold mb-[25px]">Настроили права доступа</h6>

            <p class="text-[20px]/[30px] mb-[35px]">
                Каждый сотрудник получил доступ только к необходимой информации.
            </p>

            <ul class="space-y-7">
                <li class="text-[18px]/[24px] font-medium flex items-start gap-[20px]">
                    <img src="icons/list-icon.svg" class="w-auto h-auto block mt-2" alt="List Icon">
                    Руководители контролируют работу отдела продаж (полный доступ без права удаления и экспорта)
                </li>
                <li class="text-[18px]/[24px] font-medium flex items-start gap-[20px]">
                    <img src="icons/list-icon.svg" class="w-auto h-auto block mt-2" alt="List Icon">
                    Менеджеры работают исключительно с клиентами (доступ только к своим сделкам без права удаления и выгрузки)
                </li>
                <li class="text-[18px]/[24px] font-medium flex items-start gap-[20px]">
                    <img src="icons/list-icon.svg" class="w-auto h-auto block mt-2" alt="List Icon">
                    Главный бухгалтер и экономист имеет доступ только к данным, необходимым для финансового сопровождения сделок (на чтение и переписку)
                </li>
            </ul>
        </div>

        <div class="flex gap-[12px]">
            <div class="overflow-hidden shadow-lg border-[0.9px] border-[#ECEDF0] rounded-[15px] w-fit h-fit hover:border-brandOrange transition-all duration-300">
                <img src="img/access1.jpg" alt="Access Image" class="w-auto h-auto block">
            </div>
            <div class="overflow-hidden shadow-lg border-[0.9px] border-[#ECEDF0] rounded-[15px] w-fit h-fit hover:border-brandOrange transition-all duration-300">
                <img src="img/access2.jpg" alt="Access Image" class="w-auto h-auto block">
            </div>
            <div class="overflow-hidden shadow-lg border-[0.9px] border-[#ECEDF0] rounded-[15px] w-fit h-fit hover:border-brandOrange transition-all duration-300">
                <img src="img/access3.jpg" alt="Access Image" class="w-auto h-auto block">
            </div>
        </div>
    </div>
</section>