<section class="qaplast-automate">
    <div class="max-w-[1300px] mx-auto">
        <div class="py-[45px] px-[65px] flex items-center justify-between bg-[#FDF6F4] rounded-[40px]">
            <div class="w-fit h-fit overflow-hidden rounded-[15px] shadow-2xl">
                <img src="img/crm-image.webp" alt="Crm Image">
            </div>

            <div class="space-y-[25px] max-w-[515px]">
                <h6 class="text-[30px]/[36px] font-bold">Автоматизировали рутинные процессы</h6>
                <p class="text-[20px]/[30px]">
                    Чтобы менеджеры не забывали о важных действиях, внедрили автоматические сценарии.
                </p>
                <ul class="space-y-7">
                    <li class="text-[18px]/[24px] font-medium flex items-start gap-[20px]">
                        <img src="icons/list-icon.svg" class="w-auto h-auto block mt-2" alt="List Icon">
                        После отправки коммерческого предложения система самостоятельно ставит задачу связаться с клиентом через несколько дней и уточнить его решение.
                    </li>
                    <li class="text-[18px]/[24px] font-medium flex items-start gap-[20px]">
                        <img src="icons/list-icon.svg" class="w-auto h-auto block mt-2" alt="List Icon">
                        На этапе ожидания оплаты Битрикс24 автоматически контролирует дату платежа и напоминает ответственному сотруднику о необходимости проверки.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>