<section class="qaplast-banner py-10 sm:py-14 lg:py-0 px-4 sm:px-6 lg:px-8 xl:px-0 bg-[url(img/banner-3-bg.webp)] bg-cover bg-center bg-no-repeat">
    <div class="max-w-[1170px] mx-auto">
        <div
            class="px-6 sm:px-10 lg:px-[60px] py-8 sm:py-10 lg:py-[40px] flex flex-col lg:flex-row justify-between items-center gap-6 lg:gap-0 rounded-[20px] sm:rounded-[25px] text-center lg:text-left">
            <div class="max-w-[700px] text-white flex flex-col items-center lg:items-start">
                <h6 class="text-2xl/tight sm:text-3xl/tight lg:text-[34px]/[37px] font-bold max-w-[656px] mb-3 sm:mb-4 lg:mb-[20px]">
                    Готовы обсудить ваш проект?
                </h6>
                <p class="text-sm/relaxed sm:text-base/relaxed lg:text-[18px]/[26px] font-medium">
                    Проведем консультацию, ответим на вопросы и подготовим предложение по внедрению Битрикс24    
                 </p>
            </div>

            <button type="button"
                class="w-full sm:w-auto text-center justify-center bg-white text-[#D55C27] font-bold uppercase text-[15px]/[22px] sm:text-[18px]/[28px] px-6 sm:px-[36px] py-4 sm:py-[22px] rounded-[12px] sm:rounded-[15px] shadow-[0_12px_24px_rgba(0,0,0,0.15)] hover:bg-gradient-to-r hover:from-[#331408] hover:to-[#1A0802] hover:text-white hover:shadow-[0_20px_40px_rgba(0,0,0,0.5)] hover:-translate-y-1 active:scale-95 transition-all duration-300 ease-out cursor-pointer shrink-0">
                Обсудить проект
            </button>
        </div>
    </div>
</section>