<section class="qaplast-crm pt-[45px]">
    <div class="max-w-[1300px] mx-auto">
        <div class="py-[45px] px-[65px] flex items-center justify-between bg-[#FDF6F4] rounded-[40px]">
            <div class="w-fit h-fit overflow-hidden rounded-[15px] shadow-2xl">
                <img src="img/crm-image.webp" alt="Crm Image">
            </div>

            <div class="space-y-[25px] max-w-[490px]">
                <h6 class="text-[30px]/[36px] font-bold">Доработали CRM под специфику бизнеса</h6>
                <p class="text-[20px]/[30px]">
                    Карточки сделок и компаний адаптировали под процессы производителя.
                    В сделках фиксируются продукция, объем заказа, стоимость, даты оплаты и отгрузки. </p>
                <p class="text-[20px]/[30px]">
                    В карточке контакта - ФИО и телефон (обязательные поля). Для юридических лиц добавили обязательные
                    реквизиты - БИН, регион, контактные данные и другую информацию, необходимую для подготовки договоров
                    и счетов.
                </p>
            </div>
        </div>
    </div>
</section>