<section class="qaplast-goal pt-[40px] md:pt-[60px] lg:pt-[70px] pb-[40px] md:pb-[70px] lg:pb-[30px] px-4 overflow-hidden">
    <div class="max-w-[1170px] mx-auto flex flex-col lg:flex-row items-center lg:items-start">
        <div class="w-full lg:max-w-[600px] flex flex-col gap-[20px] md:gap-[30px] lg:gap-[40px] shrink-0 z-20">
            <h6 class="flex items-start gap-[12px] text-2xl sm:text-3xl lg:text-4xl font-bold text-brandOrange">
                <span class="text-brandBrown text-base sm:text-lg lg:text-xl font-bold leading-[1.1] sm:leading-[1.15] lg:leading-[42px] shrink-0">01 <span class="ml-2">/</span></span>
                <span>Основная цель бизнеса</span>
            </h6>
            <div class="w-[60px] lg:w-[80px] h-[2px] bg-brandOrange"></div>
            <p class="text-base sm:text-lg lg:text-[18px]/[24px] max-w-full lg:max-w-[420px]">
                Обеспечивать клиентов качественными товарами, оперативно обрабатывать заказы и сопровождать каждого клиента на всех этапах сотрудничества - от обращения до отгрузки готовой продукции.
            </p>
        </div>
        <div class="w-full sm:w-auto h-fit shrink-0 translate-x-0 lg:-translate-x-44 z-10 lg:-mt-4 flex justify-center lg:block">
            <img src="img/goal-truck.webp" class="max-w-full lg:max-w-none w-auto h-auto block" alt="Goal Truck">
        </div>
    </div>
</section>