<section class="qaplast-hero py-[40px] md:py-[60px] lg:py-[80px] px-4 bg-[url(img/hero-bg.webp)] bg-cover bg-center bg-no-repeat">
    <div class="max-w-[720px] mx-auto flex flex-col items-center text-center">
        <div class="w-fit h-fit mb-[35px] md:mb-[50px] lg:mb-[70px]">
            <img src="img/qaplast-logo.png" alt="QaPlast Logo" class="block w-[180px] sm:w-[240px] lg:w-auto h-auto">
        </div>

        <h6 class="text-brandBrown text-[22px]/[28px] sm:text-[28px]/[32px] lg:text-[34px]/[38px] font-bold mb-[20px] lg:mb-[31px]">
            Единая система продаж: сайт, Instagram и телефония в Битрикс24
        </h6>

        <p class="text-[15px]/[22px] sm:text-[16px]/[24px] lg:text-[18px]/[28px] mb-[20px] lg:mb-[31px] max-w-[645px]">
            Компания QaPlast - казахстанский производитель полиэтиленовых изделий, работающий с 2011 года. Компания
            выпускает продукцию методом ротационного формования на современном европейском оборудовании и сотрудничает с
            клиентами по всему Казахстану.
        </p>

        <div class="w-[60px] lg:w-[80px] h-[1px] bg-brandBrown mb-[20px] lg:mb-[31px]"></div>

        <a href="#" class="flex items-center gap-[12px] sm:gap-[16px] lg:gap-[20px] text-brandOrange text-[16px]/[20px] sm:text-[18px]/[22px] lg:text-[20px]/[24px] font-semibold">
            <img src="icons/union.svg" class="block h-auto w-[20px] sm:w-[24px] lg:w-auto" alt="Union Icon">
            qaplast.kz/
        </a>
    </div>
</section>