<section class="qaplast-integration pt-[140px] pb-[80px]">
    <div class="max-w-[1170px] mx-auto flex items-center">
        <div class="max-w-[440px]">
            <h6 class="text-[30px]/[36px] font-bold mb-[25px]">Интегрировали сайт</h6>

            <p class="text-[20px]/[30px] mb-[35px]">
                Подключили CRM-форму обратного звонка с полями "имя" и "телефон". 
            </p>

            <p class="text-[20px]/[30px] mb-[35px]">
                Теперь заявки с сайта автоматически создают новую сделку без ручного переноса информации, что ускоряет обработку обращений и исключает потерю клиентов.
            </p>
        </div>

        <div class="relative max-w-[620px]">
            <img src="img/integration-laptop.webp" alt="Integration Laptop" class="w-auto h-auto block">
            <div class="absolute -top-14 -right-20 overflow-hidden rounded-[15px] w-fit h-fit shadow-[5px_5px_25px_0_rgba(0,0,0,0.15)]">
                <img src="img/integration-order.jpg" alt="Integration Image" class="w-auto h-auto block">
            </div>
        </div>
    </div>
</section>