<section class="qaplast-ip-telephony">
    <div class="max-w-[1300px] mx-auto">
        <div class="py-[45px] px-[65px] flex items-end justify-between bg-[#FDF6F4] rounded-[40px]">
            <div class="w-fit h-fit">
                <img src="img/telephone.webp" alt="Crm Image">
            </div>

            <div class="space-y-[25px] max-w-[578px]">
                <h6 class="text-[30px]/[36px] font-bold">Подключили IP-телефонию</h6>
                <p class="text-[20px]/[30px]">
                    Настроили SIP-телефонию и внутреннюю нумерацию на 6 сотрудников.
                </p>
                <ul class="space-y-7">
                    <li class="text-[18px]/[24px] font-medium flex items-start gap-[20px]">
                        <img src="icons/list-icon.svg" class="w-auto h-auto block mt-2" alt="List Icon">
                        При входящем звонке менеджер сразу видит карточку клиента, а если обращается новый покупатель - система автоматически создает нового лида
                    </li>
                    <li class="text-[18px]/[24px] font-medium flex items-start gap-[20px]">
                        <img src="icons/list-icon.svg" class="w-auto h-auto block mt-2" alt="List Icon">
                        Все звонки сохраняются в CRM с записью разговоров для контроля качества работы отдела продаж
                    </li>
                    <li class="text-[18px]/[24px] font-medium flex items-start gap-[20px]">
                        <img src="icons/list-icon.svg" class="w-auto h-auto block mt-2" alt="List Icon">
                        Настроили 2 IP-телефона и помогли сотрудникам с установкой и настройкой SIP-клиента для корпоративной телефонии
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>