<section class="qaplast-problems py-10 sm:py-16 lg:py-[80px] bg-[url(img/problems-bg.webp)] bg-cover bg-top bg-no-repeat overflow-hidden">
    <div class="max-w-[1170px] mx-auto relative z-10 min-[1850px]:z-0 px-4 sm:px-6 lg:px-8 xl:px-0">
        <h6 class="flex items-start gap-3 sm:gap-[12px] text-xl sm:text-2xl lg:text-3xl xl:text-4xl font-bold text-white mb-6 sm:mb-8 lg:mb-[46px]">
            <span class="text-brandOrange text-base sm:text-lg lg:text-xl font-bold leading-[1.1] sm:leading-[1.15] lg:leading-[42px] shrink-0">
                02
            <span class="ml-1 sm:ml-2">/</span></span>
            <span>Проблемы и задачи проекта</span>
        </h6>

        <div class="flex flex-col lg:flex-row justify-between gap-6 lg:gap-8 xl:gap-[30px]">
            <div class="w-full lg:w-1/2 lg:max-w-[570px] p-6 sm:p-8 lg:pt-[22px] lg:pl-[50px] lg:pr-[40px] lg:pb-[52px] bg-white rounded-[20px] sm:rounded-[25px]">
                <h6 class="text-lg sm:text-xl lg:text-2xl lg:leading-[34px] font-bold uppercase text-brandOrange mb-4 sm:mb-6 lg:mb-[27px]">Что мешало работе проекта:</h6>

                <ul class="flex flex-col gap-4 sm:gap-5 lg:gap-[20px]">
                    <li class="text-sm sm:text-base leading-normal sm:leading-[22px] flex items-start gap-4 sm:gap-6 lg:gap-[36px] group">
                        <div class="shrink-0 w-[37px] h-[37px] font-medium text-brandOrange flex items-center justify-center rounded-[12px] border border-brandOrange transition-all duration-300 group-hover:bg-brandOrange group-hover:text-white">
                            01
                        </div>
                        <p class="mt-1 sm:mt-2">Отсутствовала единая система для ведения клиентской базы и сделок</p>
                    </li>
                    <li class="text-sm sm:text-base leading-normal sm:leading-[22px] flex items-start gap-4 sm:gap-6 lg:gap-[36px] group">
                        <div class="shrink-0 w-[37px] h-[37px] font-medium text-brandOrange flex items-center justify-center rounded-[12px] border border-brandOrange transition-all duration-300 group-hover:bg-brandOrange group-hover:text-white">
                            02
                        </div>
                        <p class="mt-1 sm:mt-2">
                            Заявки поступали из разных источников - с сайта, из Instagram, по телефону, через рекомендации и обрабатывались разрозненно
                        </p>
                    </li>
                    <li class="text-sm sm:text-base leading-normal sm:leading-[22px] flex items-start gap-4 sm:gap-6 lg:gap-[36px] group">
                        <div class="shrink-0 w-[37px] h-[37px] font-medium text-brandOrange flex items-center justify-center rounded-[12px] border border-brandOrange transition-all duration-300 group-hover:bg-brandOrange group-hover:text-white">
                            03
                        </div>
                        <p class="mt-1 sm:mt-2">
                            История общения с клиентами не сохранялась в одном месте
                        </p>
                    </li>
                    <li class="text-sm sm:text-base leading-normal sm:leading-[22px] flex items-start gap-4 sm:gap-6 lg:gap-[36px] group">
                        <div class="shrink-0 w-[37px] h-[37px] font-medium text-brandOrange flex items-center justify-center rounded-[12px] border border-brandOrange transition-all duration-300 group-hover:bg-brandOrange group-hover:text-white">
                            04
                        </div>
                        <p class="mt-1 sm:mt-2">
                            Руководителю было сложно контролировать работу отдела продаж и отслеживать статус каждой сделки
                        </p>
                    </li>
                    <li class="text-sm sm:text-base leading-normal sm:leading-[22px] flex items-start gap-4 sm:gap-6 lg:gap-[36px] group">
                        <div class="shrink-0 w-[37px] h-[37px] font-medium text-brandOrange flex items-center justify-center rounded-[12px] border border-brandOrange transition-all duration-300 group-hover:bg-brandOrange group-hover:text-white">
                            05
                        </div>
                        <p class="mt-1 sm:mt-2">
                            Коммерческие предложения, счета и действия менеджеров не контролировались автоматически что приводило к потере клиентов компанией
                        </p>
                    </li>
                </ul>
            </div>

            <div class="w-full lg:w-1/2 lg:max-w-[570px] p-6 sm:p-8 lg:pt-[22px] lg:pl-[50px] lg:pr-[40px] lg:pb-[52px] bg-white rounded-[20px] sm:rounded-[25px]">
                <h6 class="text-lg sm:text-xl lg:text-2xl lg:leading-[34px] font-bold uppercase text-brandOrange mb-4 sm:mb-6 lg:mb-[27px]">Бизнес-задачи внедрения:</h6>

                <ul class="flex flex-col gap-4 sm:gap-5 lg:gap-[20px] w-full lg:max-w-[390px]">
                    <li class="text-sm sm:text-base leading-normal sm:leading-[22px] flex items-start gap-4 sm:gap-6 lg:gap-[36px] group">
                        <div class="shrink-0 w-[37px] h-[37px] font-medium text-brandOrange flex items-center justify-center rounded-[12px] border border-brandOrange transition-all duration-300 group-hover:bg-brandOrange group-hover:text-white">
                            01
                        </div>
                        <p class="mt-1 sm:mt-2">Объединить все обращения в единой CRM</p>
                    </li>
                    <li class="text-sm sm:text-base leading-normal sm:leading-[22px] flex items-start gap-4 sm:gap-6 lg:gap-[36px] group">
                        <div class="shrink-0 w-[37px] h-[37px] font-medium text-brandOrange flex items-center justify-center rounded-[12px] border border-brandOrange transition-all duration-300 group-hover:bg-brandOrange group-hover:text-white">
                            02
                        </div>
                        <p class="mt-1 sm:mt-2">
                            Выстроить понятный процесс продаж от первого запроса до оплаты и отгрузки
                        </p>
                    </li>
                    <li class="text-sm sm:text-base leading-normal sm:leading-[22px] flex items-start gap-4 sm:gap-6 lg:gap-[36px] group">
                        <div class="shrink-0 w-[37px] h-[37px] font-medium text-brandOrange flex items-center justify-center rounded-[12px] border border-brandOrange transition-all duration-300 group-hover:bg-brandOrange group-hover:text-white">
                            03
                        </div>
                        <p class="mt-1 sm:mt-2">
                            Подключить телефонию с автоматической фиксацией звонков
                        </p>
                    </li>
                    <li class="text-sm sm:text-base leading-normal sm:leading-[22px] flex items-start gap-4 sm:gap-6 lg:gap-[36px] group">
                        <div class="shrink-0 w-[37px] h-[37px] font-medium text-brandOrange flex items-center justify-center rounded-[12px] border border-brandOrange transition-all duration-300 group-hover:bg-brandOrange group-hover:text-white">
                            04
                        </div>
                        <p class="mt-1 sm:mt-2">
                            Автоматизировать контроль коммерческих предложений и оплат
                        </p>
                    </li>
                    <li class="text-sm sm:text-base leading-normal sm:leading-[22px] flex items-start gap-4 sm:gap-6 lg:gap-[36px] group">
                        <div class="shrink-0 w-[37px] h-[37px] font-medium text-brandOrange flex items-center justify-center rounded-[12px] border border-brandOrange transition-all duration-300 group-hover:bg-brandOrange group-hover:text-white">
                            05
                        </div>
                        <p class="mt-1 sm:mt-2">
                            Разграничить права доступа сотрудников
                        </p>
                    </li>
                    <li class="text-sm sm:text-base leading-normal sm:leading-[22px] flex items-start gap-4 sm:gap-6 lg:gap-[36px] group">
                        <div class="shrink-0 w-[37px] h-[37px] font-medium text-brandOrange flex items-center justify-center rounded-[12px] border border-brandOrange transition-all duration-300 group-hover:bg-brandOrange group-hover:text-white">
                            06
                        </div>
                        <p class="mt-1 sm:mt-2">
                            Обучить команду эффективной работе в новой системе
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="relative w-full hidden lg:block z-0 min-[1850px]:z-20 pointer-events-none">
        <img src="img/problems-left.webp" class="problems-left-img absolute left-0 -translate-y-52 w-auto h-auto block" alt="Problems Image">
        <img src="img/problems-right.webp" class="problems-right-img absolute right-0 bottom-1 w-auto h-auto block" alt="Problems Image">
    </div>
</section>